<div class="container">
  <h1>Se ha ragistrado correctamente</h1>
  <h2> Se ha enviado un usuario y contraseña al correo registrado</h2>
  <dl class="list">
    <dt>Matricula</dt>
    <dd>{{ alumnos.matricula }}</dd>
    <dt>Correo</dt>
    <dd>{{ alumnos.correo }}</dd>
    <dt>Semestre</dt>
    <dd>{{ alumnos.semestre }}</dd>
    <dt>Nivel</dt>
    <dd>{{ alumnos.nivel }}</dd>
    <dt>Area</dt>
    <dd>{{ alumnos.area }}</dd>
  </dl>
  <div class="row">
  <div class="col-md-12">
   <!-- <a [routerLink]="['/alumnos-edit', alumnos.id]" class="btn btn-success">EDITAR</a>
     <button class="btn btn-danger" type="button" (click)="deleteAlumnos(alumnos.id)">ELIMINAR</button>-->
  </div>
</div>
</div>